/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */

:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    /* Apply flex display to the #navbar */
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

/* Navigaton Bar: Logo and Image */

#logo {
    margin: 10px 34px;

}

#logo img {
    height: 56px;
    margin: 3px 6px;
}

/* Navigaton Bar: List styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li {
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    padding: 2px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 539px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 653px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section */
#services {
    display: flex;
    margin: 34px;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img {
    display: block;
    margin: auto;
    height: 160px;
}

#services .box p {
    font-family: 'Bree Serif', serif;
}


/* Client Section */

#client-section {
    position: relative;
}


#client-section::before {
    content: "";
    position: absolute;
    background: url('bg.jpg');
    width: 100%;
    height: 100%; /* Use 100% to cover the entire #client-section */
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7; /* You can adjust the opacity as needed */
  }
  

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img {
    height: 124px;
}

/* Contact section  */
#contact{
    position: relative;
}

#contact::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.7;
background: url('contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem; 
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}

footer{
    background: black;
    color: white;
    padding: 10px 20px;
}

/* Utility Classes */
.h-primary {
    font-size: 3.8rem;
    font-family: 'Bree Serif', serif;
    padding: 32px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 18px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}